<div class="container">    
    <div class="row">        
      <div class="col-12">
           <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-2">        
      </div>
      <div class="col-8">        
      </div>
      <div class="col-2">
        <img alt="" src="../../assets/images/inc/logo.gif" border="0">
      </div>
    </div>
  </div>