<div class="container">
    <div class="row">
        <div class="col-1"></div>
          <div class="d-grid gap-2 d-md-flex justify-content-md">
            <button type="submit"  
                    name="act22223" 
                    class="btn btn-primary btn-sm">
                    Consultor
                </button>
                <button type="submit"  
                name="act22223" 
                class="btn btn-secondary btn-sm">                    
                Cliente
                </button>   
        </div>
        <div class="col-3 ">                      
        </div>
        <div class="col-1"></div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-2"></div>
    </div>
    <div class="div row">
        <div class="col-12"></div>
    </div>
</div>