<form [formGroup]="formulario" >
<div class="container-fluid">
  <div class="row">
    <div class="col-12"></div>
  </div>
  <div class="row">
    <div class="col-sm-4">
    <div class="row">
      <div class="col-3">      
      </div>
      <div class="col-2">
      </div>
      <div class="col-2"></div>
      <div class="col-3">      
      </div>
      <div class="col-2">
      </div>
      </div>
    </div>
    <div class="col-sm-8"></div>
  </div>
  <div class="row">
    <div class="col-sm-12"><hr></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">       
      <select formControlName="consultores" id="consultores" multiple size="8" style="width:100%">
        <option *ngFor="let consultor of consultores" value="{{consultor?.coUsuario}}">{{consultor?.no_usuario}}</option>
      </select>
    </div>
    <div class="col-sm-2">     
      <div class="row">
        <div class="col-sm-6">
          <input name="button" type="button" (click)="selConsultor()" style="width:100%" value=">>">
        </div>
        <div class="col-sm-6">
          <input name="button" type="button" (click)="delConsultor()" style="width:100%" value="<<">
        </div>
      </div> 
    </div>
    <div class="col-sm-4">    
      <app-right-box></app-right-box>
    </div>
    <div class="col-sm-1">
      <div>    
        <input  class="btn btn-primary btn-sm" style="width:100%" value="Relatório"  (click)="relatorioAction(formulario.value)" type="button" name="btSalvar22">
      </div>
      <div><hr></div>
      <div>
        <input  class="btn btn-primary btn-sm"  style="width:100%" value="Grafico" (click)="loadGrafica()" type="button" name="btSalvar22">
      </div>
      <div><hr></div>
      <div>
        <input  class="btn btn-primary btn-sm"  style="width:100%" value="Pizza" type="button" name="btSalvar22">
      </div>
    </div>
  </div>
</div>
<div class="col-6"></div>
    
</form>
<app-box-detail></app-box-detail>
<app-box-grafica></app-box-grafica>