<div [formGroup]="grupoSelec">
<select multiple="" 
size="8" formControlName="listSelected"  style="width:100%">
    <option *ngFor="let consultor of consultoresSelec" value="{{consultor.coUsuario}}">{{consultor.coUsuario}}</option>
</select>
</div>