<hr>
<div *ngFor="let relator of facturaRelators; let i=index" >
<span >{{relator.relator}}</span>
<table  cellspacing="1" cellpadding="3" width="100%" bgcolor="#cccccc" id="pesquisaAvancada">
    <tbody>
      <tr bgcolor="#efefef">
        <td colspan="5"><span class="style3"></span> </td>
      </tr>
      <tr bgcolor="#fafafa">
        <td nowrap=""><div align="center"><strong>Período</strong></div></td>
        <td><div align="center"><strong>Receita Líquida </strong></div></td>
        <td><div align="center"><strong>Custo Fixo </strong></div></td>
        <td><div align="center"><strong>Comissão</strong></div></td>
        <td><div align="center"><strong>Lucro</strong></div></td>
      </tr>
      <tr *ngFor="let factura of relator.listFacturas; let j=index" bgcolor="#fafafa">
        <td nowrap="">{{factura.factura.fecha_emision}}</td>
        <td><div align="right">{{setRealBrasil(factura.recetaLiquida)}}</div></td>
        <td><div align="right">{{setRealBrasil(factura.costoFijo)}}</div></td>
        <td><div align="right">{{setRealBrasil(factura.comision)}}</div></td>
        <td><div align="right"><font color="#FF0000">{{setRealBrasil(factura.lucro)}}</font></div></td>
      </tr>
      <tr bgcolor="#efefef">
        <td nowrap="" bgcolor="#efefef"><strong>SALDO</strong></td>
        <td><div align="right"><font color="#000000">{{setRealBrasil(relator.totalRecetaLiquida)}}</font></div></td>
        <td><div align="right"><font color="#000000">-{{setRealBrasil(relator.totalCostoFijo)}}</font></div></td>
        <td><div align="right"><font color="#000000">-{{setRealBrasil(relator.totalComision)}}</font></div></td>
        <td><div align="right"><font color="#0000FF">{{setRealBrasil(relator.totalLucro)}}</font></div></td>
      </tr>
    </tbody>
  </table>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12"><hr></div>
  </div>
</div>
</div>
